---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/movie/5cd95395de30eff6ebccde56
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer OW4rssr_irBabV-4Avys
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '74'
      X-Ratelimit-Reset:
      - '1678663597'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"124-rMpzkQgACxn6GAbybMj5DfZZN7A"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd95395de30eff6ebccde56","name":"The Lord of the
        Rings Series","runtimeInMinutes":558,"budgetInMillions":281,"boxOfficeRevenueInMillions":2917,"academyAwardNominations":30,"academyAwardWins":17,"rottenTomatoesScore":94}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Sun, 12 Mar 2023 23:25:19 GMT
- request:
    method: get
    uri: https://the-one-api.dev/v2/movie/5cd95395de30eff6ebccde56/quote?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer OW4rssr_irBabV-4Avys
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '73'
      X-Ratelimit-Reset:
      - '1678663597'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e-F9HLY8bCvlnXIPS7lNMVq2JF/t8"
    body:
      encoding: UTF-8
      string: '{"docs":[],"total":0,"limit":10,"offset":0,"page":1,"pages":1}'
  recorded_at: Sun, 12 Mar 2023 23:25:19 GMT
recorded_with: VCR 6.1.0
