---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/movie/5cd95395de30eff6ebccde5b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer OW4rssr_irBabV-4Avys
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '84'
      X-Ratelimit-Reset:
      - '1678662397'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"112-NVaVyMNdyPCxy2GfDss7/ZeeuMQ"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd95395de30eff6ebccde5b","name":"The Two Towers","runtimeInMinutes":179,"budgetInMillions":94,"boxOfficeRevenueInMillions":926,"academyAwardNominations":6,"academyAwardWins":2,"rottenTomatoesScore":96}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Sun, 12 Mar 2023 23:04:27 GMT
recorded_with: VCR 6.1.0
