---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/movie/5cd95395de30eff6ebccde5b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer OW4rssr_irBabV-4Avys
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '86'
      X-Ratelimit-Reset:
      - '1678662997'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"112-NVaVyMNdyPCxy2GfDss7/ZeeuMQ"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd95395de30eff6ebccde5b","name":"The Two Towers","runtimeInMinutes":179,"budgetInMillions":94,"boxOfficeRevenueInMillions":926,"academyAwardNominations":6,"academyAwardWins":2,"rottenTomatoesScore":96}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Sun, 12 Mar 2023 23:14:35 GMT
- request:
    method: get
    uri: https://the-one-api.dev/v2/movie/5cd95395de30eff6ebccde5b/quote?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer OW4rssr_irBabV-4Avys
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '85'
      X-Ratelimit-Reset:
      - '1678662997'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e6-/jz+w/6xkbr0uryfeq4NPXI0yTw"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd96e05de30eff6ebcce9b8","dialog":"Sauron''s wrath
        will be terrible, his retribution swift.","movie":"5cd95395de30eff6ebccde5b","character":"5cd99d4bde30eff6ebccfea0","id":"5cd96e05de30eff6ebcce9b8"},{"_id":"5cd96e05de30eff6ebcce9b9","dialog":"The
        battle for Helm''s Deep is over. The battle for Middle-earth is about to begin.","movie":"5cd95395de30eff6ebccde5b","character":"5cd99d4bde30eff6ebccfea0","id":"5cd96e05de30eff6ebcce9b9"},{"_id":"5cd96e05de30eff6ebcce9ba","dialog":"All
        our hopes now lie with two little Hobbits...","movie":"5cd95395de30eff6ebccde5b","character":"5cd99d4bde30eff6ebccfea0","id":"5cd96e05de30eff6ebcce9ba"},{"_id":"5cd96e05de3[...]
